In [1]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib_inline
%matplotlib inline
import seaborn as sns

In [2]:
##  pandas profiling
#!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip    
from pandas_profiling import ProfileReport

In [3]:
# set random seed
import random
random.seed(335)

In [4]:
# magic word
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [5]:
# for better viz
import pprint
import warnings
warnings.filterwarnings('ignore')

### load

In [8]:
# data location:
path = './data/'
file_name = 'OnlineRetail.csv'

In [9]:
# read file
df = pd.read_csv(path + file_name)

In [14]:
df.head(5)

,Unnamed: 0,Description,Quantity,UnitPrice,CustomerID,Month,Australia,Austria,Bahrain,Belgium,Brazil,Canada,Channel Islands,Cyprus,Czech Republic,Denmark,EIRE,European Community,Finland,France,Germany,Greece,Iceland,Israel,Italy,Japan,Lebanon,Lithuania,Malta,Netherlands,Norway,Poland,Portugal,RSA,Saudi Arabia,Singapore,Spain,Sweden,Switzerland,USA,United Arab Emirates,United Kingdom,Unspecified,Satisfaction
0,0,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,WHITE METAL LANTERN,6,3.39,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,CREAM CUPID HEARTS COAT HANGER,8,2.75,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,17850.0,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [15]:
df['Description'].unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ...,
       'PINK CRYSTAL SKULL PHONE CHARM',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

NLP

In [106]:
#!pip install nltk

Requirement already satisfied: nltk in /home/danil-pass123/anaconda3/lib/python3.8/site-packages (3.6.5)
Requirement already satisfied: click in /home/danil-pass123/.local/lib/python3.8/site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in /home/danil-pass123/anaconda3/lib/python3.8/site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /home/danil-pass123/anaconda3/lib/python3.8/site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in /home/danil-pass123/anaconda3/lib/python3.8/site-packages (from nltk) (4.63.0)

In [ ]:
import nltk
import math
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

from tqdm.notebook import tqdm, trange


#nltk.download()
def term_frq(term,document):
    counter = 0
    for word in document:
        if word ==term:
            counter+=1
    return counter/len(document)

def idf(terms,docs):
    terms_idf = {}
    number_of_docs = len(docs.keys())
    for t in terms:
        counter = 0
        for k in docs.keys():
            if t in docs[k]:
                counter+=1
        terms_idf[t] = math.log2(number_of_docs/counter)
    return terms_idf
        
stemmer = PorterStemmer()

#terms= []
#tf = {id:[[term,freq],...]}
#docs = {id:[term_token]}
#docs_frq = {id:[term_token:tf-idf]}

#term_idf = {term:idf_v,...}

docs = {}
terms = []
tf = {}
docs_frq = {}

c = tqdm(range(pd.DataFrame(df['Description'].unique(),columns = ['title']).shape[0]))
for index,row in pd.DataFrame(df['Description'].unique(),columns = ['title']).iterrows():
    if not (isinstance(row['title'],str)):
        continue
    sentance = row['title'].lower()
    tokens = word_tokenize(sentance)
    
    words = [word for word in tokens if word not in stopwords.words()]
    words = [stemmer.stem(word) for word in words]
    
    tf[index] = []
    for w in words:
        terms.append(w)
        tf[index].append([w,term_frq(w,words)])
    docs[index] = words
    c.update()
term_idf = idf(terms,docs)

for k in docs.keys():
    for k in tf.keys():
        for[term,freq] in tf[k]:
            docs_frq[k] = freq*term_idf[term]
            print(docs_frq[k])